@model IEnumerable<Company>

@{
    ViewData["Title"] = "ListCompanies";
}

<div class="card">
    <div class="card-header">
        <h6>Företag</h6>
        <a class="btn btn-sm btn-outline-success" asp-controller="Companies" asp-action="RegisterCompany">Registrera nytt företag</a>
        <a class="btn btn-sm btn-outline-success" asp-controller="Home" asp-action="NBS">Till NBS !</a>
    </div>
    <div class="card-header">
        <form asp-controller="Companies" asp-action="ListCompanies">
            <div class="card-header col-md-12">                
                    #: <input type="text" name="SearchString">
                    Företagsnamn: <input type="text" name="SearchString1">
                                  <input type="submit" value="Sök" />
            </div>
        </form>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CompanyNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompanyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StreetAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ZipCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Country)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompanyRole)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompanyStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompanyType)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StreetAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ZipCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Country)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyRole.CompanyRoleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyStatus.CompanyStatusName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyType.CompanyTypeName)
                            </td>
                            <td>
                                <a class="btn btn-sm btn-outline-success" asp-action="EditCompany" asp-route-id="@item.Id">Ändra</a>
                                <a class="btn btn-sm btn-outline-success" asp-action="DetailsCompany" asp-route-id="@item.Id">Info</a>
                                <a class="btn btn-sm btn-outline-danger" asp-action="DeleteCompany" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="card-footer"></div>
        </div>
    </div>
</div>