@model IEnumerable<ImageModel>
@{
    ViewData["Title"] = "IndexSearchImages";
}

<div class="card card-columns">
    <div class="card-header text-center">        
        <div style="padding-bottom: 1em;">
            <a class="btn btn-sm btn-outline-success" asp-action="Create" asp-controller="Image">Ladda upp ny bild</a>
            <a class="btn btn-sm btn-outline-success" asp-action="Reports" asp-controller="Home">Till Reports</a>
        </div>
        <div class="card-group col-md-12">
            <form asp-controller="Image" asp-action="IndexSearch">
                <div class="card-header col-md-12">
                    <div class="card-header col-md-12" >
                        @Html.DisplayNameFor(model=>model.HockeyGame.TSMNumber)<input type="text" name="SearchString">                       
                    </div>                    
                    <div class="card-header col-md-12">                 
                        
                        <input type="submit" value="Search" />
                    </div>                    
                </div>
            </form>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-responsive-sm table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.HockeyGame)</th>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.ImageName)</th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(i => i.HockeyGame.TSMNumber))
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.HockeyGame.TSMNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.ImageName)</td>                        
                        <td>
                            <a class="btn btn-sm btn-outline-success" asp-controller="Image" asp-action="Edit" asp-route-id="@item.ImageId">Ändra</a>
                            <a class="btn btn-sm btn-outline-success" asp-controller="Image" asp-action="Details" asp-route-id="@item.ImageId">Titta</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-sm btn-success" asp-controller="Accounting" asp-action="Accounting">Till Accounting</a>
    </div>
</div>     