@model IEnumerable<HockeyGame>

@{
    ViewData["Title"] = "IndexHockeyGames";
}
<div class="card col-md-12 text-center">
    <div class="card-header col-md-12 text-center">
        <h6>Hockeymatcher !</h6>
    </div>
    <div class="card-header col-md-12 text-center">
        <a class="btn btn-sm btn-outline-success" asp-controller="HockeyGames" asp-action="IndexHockeyGames">Till Hockeymatcher</a>
    </div>
    <div class="card-header col-md-12 text-center">
        <form asp-controller="HockeyGames" asp-action="IndexHockeyGamesFinal">
            <div class="card-header">
                Datum/Tid: <input type="text" name="SearchString">
                Arena:<input type="text" name="SearchString1">
                Ålder:<input type="text" name="SearchString2">
            </div>
            <div class="card-header col-md-12 text-center">
                Typ av match (Singel/Cup e.t.c): <input type="text" name="SearchString3">
                Status: <input type="text" name="SearchString4" value="Final">
            </div>
            <div class="card-header col-md-12 text-center">
                <input type="submit" value="Sök" />
            </div>

        </form>
    </div>
    <div class="card-body col-md-12 text-center">
        <table class="table table-striped">
            <thead class="col-md-12 text-center">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GameDateTime) -
                        @Html.DisplayNameFor(model => model.GameCategory) -
                        @Html.DisplayNameFor(model => model.Arena) -
                        @Html.DisplayNameFor(model => model.HomeTeam.ClubName) -
                        @Html.DisplayNameFor(model => model.AwayTeam.ClubName) -
                        @Html.DisplayNameFor(model => model.GameStatus)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="col-md-12">
                @foreach (var item in Model.OrderByDescending(h => h.GameDateTime).Where(h=>h.GameStatusId == 2))
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GameDateTime) -
                        @Html.DisplayFor(modelItem => item.Arena.ArenaName) -
                        @Html.DisplayFor(modelItem => item.GameCategory.GameCategoryName) -
                        @Html.DisplayFor(modelItem => item.HomeTeam.ClubName) -
                        @Html.DisplayFor(modelItem => item.AwayTeam.ClubName) -
                        @Html.DisplayFor(modelItem => item.GameStatus.GameStatusName)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-outline-success" asp-action="EditHockeyGame" asp-route-id="@item.Id">Ändra</a>
                        <a class="btn btn-sm btn-outline-success" asp-action="Details" asp-route-id="@item.Id">Info</a>
                        <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Ta Bort</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer col-md-12 text-center">
        <a class="btn btn-sm btn-outline-success" asp-controller="HockeyGames" asp-action="IndexHockeyGames">Till Hockeymatcher</a>
    </div>
</div>