@model RefFees

@{
    ViewData["Title"] = "DetailsRefFee";
}

<h1>Details</h1>

<div>
    <h4>RefFees</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UDZ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UDZ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LD)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditRefFee" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="IndexRefFees">Back to List</a>
</div>
