@model ProLab.Models.DataModels.RefReceipt

@{
    ViewData["Title"] = "DetailsRefReceipt";
}

<h1>Details</h1>

<div>
    <h4>RefReceipt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HockeyGame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HockeyGame.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameFeeHD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameFeeHD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowanceHD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowanceHD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelExpensesHD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelExpensesHD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LostErningsHD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LostErningsHD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelSalarySupplementHD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelSalarySupplementHD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherHD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherHD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionOthersHD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionOthersHD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCostHD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCostHD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameFeeHD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameFeeHD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowanceHD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowanceHD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelExpensesHD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelExpensesHD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LostErningsHD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LostErningsHD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelSalarySupplementHD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelSalarySupplementHD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherHD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherHD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionOthersHD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionOthersHD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCostHD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCostHD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameFeeLD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameFeeLD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowanceLD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowanceLD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelExpensesLD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelExpensesLD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LostErningsLD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LostErningsLD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelSalarySupplementLD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelSalarySupplementLD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherLD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherLD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionOthersLD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionOthersLD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCostLD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCostLD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameFeeLD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameFeeLD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowanceLD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowanceLD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelExpensesLD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelExpensesLD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LostErningsLD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LostErningsLD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelSalarySupplementLD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelSalarySupplementLD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherLD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherLD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionOthersLD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionOthersLD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCostLD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCostLD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCostHockeyGame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCostHockeyGame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCostHalfHockeyGame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCostHalfHockeyGame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefRecStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefRecStatus.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditRefReceipt" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="IndexRefReceipts">Back to List</a>
</div>
