@model IEnumerable<RefFees>

@{
    ViewData["Title"] = "IndexRefFees";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateRefFee">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UDZ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LD)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UDZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LD)
            </td>
            <td>
                <a class="btn btn-sm btn-outline-success" asp-action="EditRefFee" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-sm btn-outline-success"  asp-action="DetailsRefFee" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-sm btn-outline-danger"  asp-action="DeleteRefFee" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
