@model ProLab.Models.DataModels.StatsPorest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StatsPorest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HockeyDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HockeyDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkoutHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkoutHours)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
