@model ProLab.Models.DataModels.CupKvitto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CupKvitto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimePosted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimePosted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeChanged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeChanged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referee.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HockeyGame1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HockeyGame1.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HockeyGame2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HockeyGame2.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HockeyGame3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HockeyGame3.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HockeyGame4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HockeyGame4.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HockeyGame5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HockeyGame5.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HockeyGame6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HockeyGame6.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HockeyGame7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HockeyGame7.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HockeyGame9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HockeyGame9.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HockeyGame10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HockeyGame10.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
       <a class="btn btn-sm btn-success" asp-controller="Cup" asp-action="ListCupKvitton">Till Cupkvitton</a>
    </form>
</div>
