@model IEnumerable<BillingPost>

@{
    ViewData["Title"] = "IndexSearchBillingPosts";
}

<div class="card card-columns col-md-12 text-center">
    <div class="card-header col-md-12 text-center font-weight-bold " style="font-size:small">
        <div>
            <h6>Fakturerings poster schemalagda och avslutade !</h6>
            <h6>Totala Timmar: @Model.Sum(t => t.Hours)</h6>
            <h6>Totalt Belopp: @Model.Sum(t => t.Total)</h6>
        </div>
        <div style="padding-bottom: 1em;">
            <a class="btn btn-sm btn-outline-success font-weight-bold " style="font-size:xx-small" asp-action="CreateBillingPost" asp-controller="Billing">Registrera ny Faktureringpost</a>
            @*<a class="btn btn-sm btn-outline-success font-weight-bold " style="font-size:xx-small" asp-action="IndexSearchBillingPostsReported" asp-controller="Accounting">Faktureringsposter Rapporterade (Reporter)</a>
            <a class="btn btn-sm btn-outline-success font-weight-bold " style="font-size:xx-small" asp-action="IndexSearchBillingPostsBilled" asp-controller="Accounting">Till Faktureringsposter Fakturerade (Billed)</a>
            <a class="btn btn-sm btn-outline-success font-weight-bold " style="font-size:xx-small" asp-action="BillingPostsReportedProjekt" asp-controller="Accounting">Faktureringsposter Rapporterade för projekt (Reporter)</a>
            <a class="btn btn-sm btn-outline-success font-weight-bold " style="font-size:xx-small" asp-action="BillingPostsBilledProjekt" asp-controller="Accounting">Till Faktureringsposter Fakturerade för projekt (Billed)</a>
            <a class="btn btn-sm btn-outline-success font-weight-bold " style="font-size:xx-small" asp-action="Billing" asp-controller="Home">Till Faktureringen</a>*@
        </div>
        <div class="card-header col-md-12 text-center font-weight-bold " style="font-size:xx-small">
            <form asp-controller="Billing" asp-action="ListBillingPosts">
                <div class="card-header">
                    Kund: <input type="text" name="SearchString5">
                    PO #:<input type="text" name="SearchString">
                    Anställd:<input type="text" name="SearchString1">
                </div>
                <div class="card-header col-md-12 text-center">
                    INC#: <input type="text" name="SearchString2">
                    Avslutad: <input type="text" name="SearchString3">
                    Status: <input type="text" name="SearchString4" value="Scheduled">
                </div>
                <div class="card-header col-md-12 text-center">
                    <input type="submit" value="Search" />
                </div>

            </form>
        </div>
    </div>
    <div class="card-body col-md-12 text-center">
        <div class="card-body col-md-12 text-center">
            <table class="table table-responsive-sm table-striped">
                <thead class="col-md-12">
                    <tr class="col-md-12 font-weight-bold " style="font-size:xx-small">
                        <th>@Html.DisplayNameFor(model => model.Employee)</th>
                        <th>@Html.DisplayNameFor(model => model.Customer)</th>
                        <th>@Html.DisplayNameFor(model => model.Incident)</th>
                        <th>@Html.DisplayNameFor(model => model.Started)</th>
                        @*<th>@Html.DisplayNameFor(model => model.Ended)</th>*@
                        <th>@Html.DisplayNameFor(model => model.Hours)</th>
                        <th>@Html.DisplayNameFor(model => model.Price)</th>
                        @*<th>@Html.DisplayNameFor(model => model.Outlay)</th>*@
                        <th>@Html.DisplayNameFor(model => model.Total)</th>
                        <th>@Html.DisplayNameFor(model => model.Notes)</th>
                        <th>@Html.DisplayNameFor(model => model.WLNumber)</th>
                        <th>@Html.DisplayNameFor(model => model.PONumber)</th>
                        <th>@Html.DisplayNameFor(model => model.BPStatus)</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderBy(t => t.Started).Where(t => t.BPStatusId < 3))
                    {
                    <tr class="col-md-12 font-weight-bold " style="font-size:xx-small">
                        <td>@Html.DisplayFor(modelItem => item.Employee.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Customer)</td>
                        <td>@Html.DisplayFor(modelItem => item.Incident)</td>
                        <td>@Html.DisplayFor(modelItem => item.Started)</td>
                        @*<td>@Html.DisplayFor(modelItem => item.Ended)</td>*@
                         <td>@Html.DisplayFor(modelItem => item.Hours)</td>
                         <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        @*<td>@Html.DisplayFor(modelItem => item.Outlay)</td>*@
                        <td>@Html.DisplayFor(modelItem => item.Total)</td>
                        <td>@Html.DisplayFor(modelItem => item.Notes)</td>
                        <td>@Html.DisplayFor(modelItem => item.WLNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.PONumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.BPStatus.BPStatusName)</td>
                        <td>
                            <a class="btn btn-sm btn-outline-success font-weight-bold " style="font-size:xx-small" asp-controller="Billing" asp-action="EditBillingPost" asp-route-id="@item.Id">Ändra Värden</a>
                            <a class="btn btn-sm btn-outline-success font-weight-bold " style="font-size:xx-small" asp-controller="Billing" asp-action="EditBillingPostStatus" asp-route-id="@item.Id">Ändra Status</a>
                            <a class="btn btn-sm btn-outline-success font-weight-bold " style="font-size:xx-small" asp-controller="Billing" asp-action="EditBillingPostEmployee" asp-route-id="@item.Id">Ändra Anställd</a>
                            <a class="btn btn-sm btn-outline-success font-weight-bold " style="font-size:xx-small" asp-controller="Billing" asp-action="BillingPostInfo" asp-route-id="@item.Id">INFO</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer col-md-12">
        <a class="btn btn-sm btn-success font-weight-bold " style="font-size:xx-small" asp-controller="Home" asp-action="NBS">Till NBS</a>
    </div>
</div>
